<div>
  <h2 ng-click="logArticle()">{{article.title}}</h2>
  <div ng-click="logSection(section)" ng-repeat="section in article.contentSections">
    {{section.subTitle}}
    <div ng-repeat="piece in section.contentArray">
      <div ng-switch on="piece.type">
        <div ng-switch-when="text">
          {{logSection(piece)}}
          {{getText(piece)}}<br/>
          {{getFootnotes(piece)}}
        </div>
        <div ng-switch-when="picture">
         {{logSection(piece)}}
          <img ng-src="{{piece.url}}"><br/>
          <span>{{piece.caption}}</span>
        </div>
        <div ng-switch-when="video">
        {{logSection(piece)}}
          <iframe width="300" height="169" ng-src="{{piece.url}}" frameborder="0" allowfullscreen></iframe>
          <span>{{piece.caption}}</span>
        </div>
        <div ng-switch-default></div>
      </div>
    </div>
  </div>
</div>  
