<div>
  <b>Boil Step</b><br/>
  <p>Step Duration: {{step.stepDuration}}</p>
  <p>Boiling Duration: {{step.boilingDuration}}</p>
  <p><em>Ingredient Inputs</em></p>
  <div ng-repeat="input in step.ingredientInputs">
    <p>SourceType: {{input.sourceType}}</p>
    <p>SourceId: {{input.sourceId}}</p>
    <p>Key: {{input.key}}</p>
    <br/>
  </div>
  <p><em>Dish Product Input</em></p>
  <p>SourceType: {{step.dishInput.sourceType}}</p>
  <p>SourceId: {{step.dishInput.sourceId}}</p>
  <p>Key: {{step.dishInput.key}}</p>
  <p>Product Name: {{step.productName}}</p>
  <div ng-if="step.stepTip">
    <p><b>Step Tip</b></p>
    <p>Title: {{step.stepTip.title}}</p>
    <p>Text: {{step.stepTip.text}}</p>
    <p ng-if="step.stepTip.pictureURL">PictureURL: {{step.stepTip.pictureURL}}</p>
    <p ng-if="step.stepTip.videoTitle">VideoTitle: {{step.stepTip.videoTitle}}</p>
    <p ng-if="step.stepTip.videoURL">VideoURL:{{step.stepTip.videoURL}}</p>
  </div>
</div>