<div>
  <h2>Input Daily Tips</h2><br/>
  <form novalidate name="dailyTipsForm">
    Title: <input type="text" ng-model="dailyTip.title" size="50" required name="titleInput"/><br /><br />
    Text: <textarea ng-model="dailyTip.text" rows="4" cols="50" required name="textInput"></textarea><br/><br/>
    Picture: <input type="url" ng-model="dailyTip.picture.url" size="60" name="pictureURLInput" placeholder="URL" />
    <input type="text" ng-model="dailyTip.picture.caption" size="100" name="pictureCaptionInput" placeholder="Caption"/><br/><br/>
    Video: <input type="url" ng-model="dailyTip.video.url" size="60" name="videoURLInput" placeholder="URL" />
    <input type="text" ng-model="dailyTip.video.caption" size="100" name="videoCaptionInput" placeholder="Caption"/><br/><br/>
    Collection: <select name="itemCollectionSelect" ng-model="dailyTip.collectionId" ng-options="collection._id as collection.name for collection in tipCollections" required></select><br/><br/>
    <button class="btn btn-large btn-default" ng-click="reset()">Reset Form</button>
    <button class="btn btn-large btn-success" ng-click="save()" ng-disabled="dailyTipsForm.$invalid || !dailyTipSanityCheck()">Save Tip</button>
  </form>
  <pre>
    {{dailyTip | json}}
  </pre>
</div>