<div>
  <h2>Input Dietary Preference</h2>
  <a class="btn btn-link active" ng-href="#/dietaryPreferences">Create</a>
  <a class="btn btn-link" ng-href="#/editDietaryPreferences">Edit</a>
  <form novalidate name="dietaryPreferenceForm">
    <p>Dietary Preferences and Ingredients are currently being pulled from the {{serverType}}</p>
    <button class="btn btn-primary" ng-click="reloadEntries('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadEntries('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Title: <input type="text" ng-model="dietaryPreference.title" size="50" required name="titleInput" /><br/><br/>
    Outlaw Ingredients: <br/>
    <div ng-repeat="ingredient in ingredients">
      <input type="checkbox" ng-model="ingredient.useInPreference" />
      <span>{{ingredient.name.standardForm}}</span>
    </div><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <button class="btn btn-large btn-success" ng-click="save()" ng-disabled="noServerSelected()">Save Dietary Preference</button>
  </form>
</div>
