<div>
  <h2>Input Dish</h2>
  <a class="btn btn-link active" ng-href="#/dishes">Create</a>
  <a class="btn btn-link" ng-href="#/editDishes">Edit</a><br/>
  <form novalidate name="dishForm">
    <p>Dishes are currently being pulled from the {{serverType}} server</p>
    <button class="btn btn-primary" ng-click="reloadDishes('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadDishes('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Name: <input type="text" ng-model="dish.name" size="50" required name="nameInput" /><br /><br />
    IngredientCapacity: <input type="text" ng-model="dish.ingredientCapacity" size="30" required name="capacityInput" ng-pattern="integerval"/>
    <span ng-show="dishForm.capacityInput.$invalid">Please enter a number</span><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <input type="button" class="btn btn-md" ng-click="reset()" value="Reset" />
    <input type="button" class="btn btn-md btn-success" ng-click="save(dish)" value="Save" ng-disabled="dishForm.$invalid || noServerSelected()"/>
  </form>
  <br />
  <h2>Current Dishes</h2>
  <ul>
    <li ng-repeat="dish in dishes">
      <p><b>Name</b>: {{dish.name}}</p>
      <p><b>Capacity</b>: {{dish.ingredientCapacity}}</p>
    </li>
  </ul>
  <pre>dish: {{dish | json}}</pre>
</div>
