<div>
  <b>Dry Step</b>
  <p>Step Duration: {{step.stepDuration}}</p>
  <p>Dry Method: {{step.dryMethod}}</p>
  <p><b>Ingredient Input</b></p>
  <p>SourceType: {{step.ingredientInput.sourceType}}</p>
  <p ng-if="step.ingredientInput.sourceId">SourceId: {{step.ingredientInput.sourceId}}</p>
  <p>Key: {{step.ingredientInput.key}}</p><br/>
  <p>ProductName: {{step.productName}}</p>
  <div ng-if="step.stepTip">
    <p><b>Step Tip</b></p>
    <p>Title: {{step.stepTip.title}}</p>
    <p>Text: {{step.stepTip.text}}</p>
    <p ng-if="step.stepTip.pictureURL">PictureURL: {{step.stepTip.pictureURL}}</p>
    <p ng-if="step.stepTip.videoTitle">VideoTitle: {{step.stepTip.videoTitle}}</p>
    <p ng-if="step.stepTip.videoURL">VideoURL:{{step.stepTip.videoURL}}</p>
  </div>
</div>
