<div>
  <h2>Edit Seasoning Profile</h2>
  <a class="btn btn-link" ng-href="#/seasoningprofiles">Create</a>
  <a class="btn btn-link active" ng-href="#/editSeasoningProfiles">Edit</a><br/>
  <form novalidate name="editSeasoningForm">
    <p>Seasonings are currently being pulled from the {{serverType}} server</p>
    <button class="btn btn-primary" ng-click="reloadProfiles('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadProfiles('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Select Seasoning Profile: <select name="seasoningSelect" ng-model="selectedSeasoning" ng-change="changeSelectedSeasoning()" ng-options="seasoning as seasoning.name for seasoning in seasonings"></select><br/><br/>
    Recipe Title Alias: <input type="text" ng-model="seasoningProfile.recipeTitleAlias" size="50" required name="prefixNameInput"/><br /><br />
    Main Name: <input type="text" ng-model="seasoningProfile.mainName" size="50" required name="mainNameInput"/><br /><br />
    Spices: <ul>
      <li ng-repeat="spice in seasoningProfile.spices track by $index">
        <input type="text" ng-model="seasoningProfile.spices[$index]" size="40"/>
        <button class="btn btn-xs btn-danger" ng-click="removeSpice($index)">Remove Spice</button>
      </li>
    </ul>
    <button class="btn btn-sm btn-primary" ng-click="addSpice()">Add Spice</button><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <button class="btn btn-large btn-warning" ng-click="cancelChanges()">Cancel Changes</button>
    <button class="btn btn-large btn-primary" ng-click="saveChanges()" ng-disabled="noServerSelected()">Save Changes</button>
    <button class="btn btn-large btn-danger" ng-click="deleteSeasoningProfile()" ng-disabled="noServerSelected()">Delete Seasoning Profile</button>
  </form>
</div>
