<div>
  <h2>Edit Item Collections</h2>
  <a class="btn btn-link" ng-href="#/itemCollections">Create</a>
  <a class="btn btn-link active" ng-href="#/editItemCollections">Edit</a><br/>
  <form novalidate name="editItemCollectionForm">
    <p>Collections are currently being pulled from the {{serverType}} server</p>
    <button class="btn btn-primary" ng-click="reloadCollections('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadCollections('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Select Collection: <select name="itemCollectionSelect" ng-model="selectedCollection" ng-change="changeSelectedCollection()" ng-options="collection as collection.displayName for collection in collections"></select><br/><br/>
    Name: <input type="text" ng-model="itemCollection.name" size="50" required name="nameInput" /><br/><br/>
    Description: <textarea ng-model="itemCollection.description" rows="4" cols="50" required name="descriptionInput"></textarea><br/><br/>
    Order Preference (-1 is the internal value for unassigned preference, if you happen to see it): <input type="text" ng-pattern="integerval" ng-model="itemCollection.orderPreference" size="30" name="orderPreferenceInput"/><br/><br/>
    Is BYO Collection? <input type="checkbox" ng-model="itemCollection.isBYOCollection"/><br/><br/>
    Picture URL: <input type="url" placeholder="URL" ng-model="itemCollection.pictureURL" size="60" name="pictureURLInput" /><br/><br/>
    ItemType: <select name="itemTypeSelect" ng-model="itemCollection.itemType" ng-options="itemType as itemType for itemType in itemTypes" required></select><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <button class="btn btn-warning btn-large" ng-click="cancelChanges()">Cancel Changes</button>
    <button class="btn btn-primary btn-large" ng-click="saveChanges()" ng-disabled="noServerSelected()">Save Changes</button>
    <button class="btn btn-danger btn-large" ng-click="deleteCollection()" ng-disabled="noServerSelected()">Delete Collection</button>
  </form>
</div>
