<div>
  <h2>Edit Daily Tips</h2>
  <a class="btn btn-link" ng-href="#/dailyTips">Create</a>
  <a class="btn btn-link active" ng-href="#/editDailyTips">Edit</a><br/>
  <form novalidate name="EditDailyTipsForm">
    <p>Tips and Collections are currently being pulled from the {{serverType}} server</p>
    <button class="btn btn-primary" ng-click="reloadStuff('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadStuff('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Select DailyTip: <select name="dailyTipSelect" ng-model="selectedTip" ng-change="changeSelectedTip()" ng-options="tip as tip.title for tip in tips"></select><br/><br/>
    Title: <input type="text" ng-model="dailyTip.title" size="50" required name="titleInput"/><br /><br />
    Text: <textarea ng-model="dailyTip.text" rows="4" cols="50" required name="textInput"></textarea><br/><br/>
    Picture: <input type="url" ng-model="dailyTip.picture.url" size="60" name="pictureURLInput" placeholder="URL" />
    <input type="text" ng-model="dailyTip.picture.caption" size="100" name="pictureCaptionInput" placeholder="Caption"/><br/><br/>
    Video: <input type="text" ng-model="dailyTip.video.videoId" size="60" name="videoIdInput" placeholder="URL" />
    <input type="text" ng-model="dailyTip.video.end" size="40" name="videoEndInput" placeholder="End Time" />
    <input type="text" ng-model="dailyTip.video.caption" size="100" name="videoCaptionInput" placeholder="Caption"/><br/><br/>
    Collections: <select name="itemCollectionSelect" ng-model="curCollectionId" ng-options="collection._id as collection.name for collection in tipCollections"></select><br/>
    <ul>
      <div ng-repeat="collectionID in dailyTip.collectionIds">
        <li>{{collectionID}}</li>
        <button ng-click="removeCollection($index)">Remove</button>
      </div>
    </ul>
    <button ng-click="addCollection()">Add Collection</button><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <button class="btn btn-warning btn-large" ng-click="cancelChanges()">Cancel Changes</button>
    <button class="btn btn-primary btn-large" ng-click="saveChanges()" ng-disabled="noServerSelected()">Save Changes</button>
    <button class="btn btn-danger btn-large" ng-click="deleteDailyTip()" ng-disabled="noServerSelected()">Delete DailyTip</button>
  </form>
</div>
