<div>
  <h2>Edit Lessons</h2>
  <a class="btn btn-link" ng-href="#/lesson">Create</a>
  <a class="btn btn-link active" ng-href="#/editLessons">Edit</a><br/>
  <form novalidate name="editLessonsForm" ng-controller="EditLessonsCtrl">
    <p>Tips, Glossaries, Videos, etc. are currently being pulled from the {{serverType}} server</p>
    <button class="btn btn-primary" ng-click="reloadLessons('PRODUCTION')">Reload From Production</button>
    <button class="btn btn-success" ng-click="reloadLessons('DEVELOPMENT')">Reload From Development</button><br/><br/>
    Select Lesson: <select name="lessonSelect" ng-model="selectedLesson" ng-change="changeSelectedLesson()" ng-options="lesson as lesson.name for lesson in lessons"></select><br/>
    Name: <input type="text" ng-model="lesson.name" size="50" required name="nameInput" /><br/><br/>
    Time Estimate (minutes): <input type="text" ng-model="lesson.timeEstimate" size="50" required name="timeEstimateInput" /> <br/><br/>
    Description: <textarea ng-model="lesson.description" rows="4" cols="50" required name="descriptionInput"></textarea><br/><br/>
    Picture URL: <input type="url" placeholder="URL" ng-model="lesson.pictureURL" size="60" name="pictureURLInput" /><br/><br/>
    Is Article? <input type="checkbox" ng-model="lesson.isArticle" /><br/><br/>
    <s ng-show="!getArticleLabel()">Article:</s> 
    <span ng-show="getArticleLabel()">Article:</span>
    <select ng-disabled="!lesson.isArticle" name="articleSelect" ng-model="lesson.articleId" ng-options="article._id as article.title for article in articles"></select><br/><br/>
    <s ng-show="!getItemLabel()">Item Type:</s>
    <span ng-show="getItemLabel()">Item Type:</span>
    <select ng-disabled="lesson.isArticle" name="itemTypeSelect" ng-model="itemType" ng-options="itemType for itemType in itemTypes"></select><br/><br/>
    <s ng-show="!getItemLabel()">Item:</s>
    <span ng-show="getItemLabel()">Item:</span>
    <select ng-disabled="lesson.isArticle" name="itemSelect" ng-model="selectedItem" ng-options="item._id as item.title for item in getSelectedTypeItems()"></select><br/><br/>
    <button ng-disabled="lesson.isArticle || !selectedItem" ng-click="addItem()">Add Item</button><br/><br/>
    <button class="btn btn-success btn-sm" ng-click="addAllOfItemType()" ng-disabled="!canAddAllForItemType()">Add All For Item Type</button><br/><br/>
    Added Items: <div ng-repeat="id in lesson.itemIds">
      <p>{{id.itemType}}: {{id.id}}</p>
      <button class="btn btn-xs btn-danger" ng-click="removeItemId($index)">Remove</button>
    </div>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProd"/><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDev"/><br/>
    </div>
    <button class="btn btn-warning btn-lg" ng-click="cancelChanges()">Cancel Changes</button>
    <button class="btn btn-primary btn-lg" ng-click="saveChanges()" ng-disabled="noServerSelected()">Save Changes</button>
    <button class="btn btn-danger btn-lg" ng-click="deleteLesson()" ng-disabled="noServerSelected()">Delete Lesson</button>
  </form>
</div>
