<div>
  <h2>Health Modifier Input</h2>
  <a class="btn btn-link active" ng-href="#/healthModifiers">Create</a>
  <a class="btn btn-link" ng-href="#/editHealthModifiers">Edit</a>
  <form novalidate name="healthModifierForm">
    Name: <input type="text" ng-model="healthModifier.name" required size="50" name="nameInput"/><br/><br/>
    <div>
      Use PRODUCTION Server: <input type="checkbox" ng-model="useProdServer" /><br/>
      Use DEVELOPMENT Server: <input type="checkbox" ng-model="useDevServer" /><br/>
    </div>
    <button class="btn btn-large btn-default" ng-click="reset()">Reset Form</button>
    <button class="btn btn-large btn-success" ng-click="save()" ng-disabled="healthModifierForm.$invalid">Save Modifier</button>
  </form>
</div>
