<div>
  <form novalidate name="howToShopEntryForm">
  Title: <input type="text" ng-model="howToShopEntry.title" size="50" required name="titleInput"/><br /><br />
    Text: <textarea ng-model="howToShopEntry.text" rows="4" cols="50" required name="textInput"></textarea><br/><br/>
    Pictures: 
    <div ng-repeat="picture in howToShopEntry.pictures">
      <input type="url" ng-model="picture.url" size="60" placeholder="URL" />
      <input type="text" ng-model="picture.caption" size="100" placeholder="Caption"/>
    </div>
    <button class="btn btn-large btn-info" ng-click="addPicture()">Add a Picture</button>
    <button class="btn btn-large btn-warning" ng-disabled="!howToShopEntry.pictures || howToShopEntry.pictures.length === 0" ng-click="removePicture()">Remove Picture</button>
    <br/><br/>
    Collection: <select name="itemCollectionSelect" ng-model="howToShopEntry.collectionId" ng-options="collection._id as collection.name for collection in howToShopCollections" required></select><br/><br/>
    <button class="btn btn-large btn-default" ng-click="reset()">Reset Form</button>
    <button class="btn btn-large btn-success" ng-click="save()" ng-disabled="howToShopEntryForm.$invalid || !howToShopEntrySanityCheck()">Save Entry</button>
  </form>
  <pre>
    {{howToShopEntry | json}}
  </pre>
</div>
