<!--Remove [ingredients] from the [dish] //with the// [ingredientsLeftInPan] and set aside-->
<!--How will the step have knowledge of the previous step? stepList and ingredientList accessible-->
<div ng-form="removeStepForm" class="bg-warning">
  <b>Remove Step</b><br/>
  Step Duration: <input type="text" name="stepDurationInput" size="30" required ng-pattern="integerval" ng-model="constructingStep.stepDuration"><br/>
  Remove Type: <select name="removeTypeSelect" ng-model="constructingStep.stepSpecifics[0].val" ng-options="removeType for removeType in removeTypes" required></select><br/>
  Product Input (Expects a Step): <step-input-form
    constructing-step="constructingStep"
    input-name="stepInput"
    step-type="remove"
    is-multiple="false"
    ingredient-list="ingredientList"
    step-list="stepList">
    </step-input-form><br/>
  <remove-step-products ng-if="composingTypes"
  constructing-step="constructingStep"
  composing-types="composingTypes"
  input-dish="inputDish"></remove-step-products>
  <br/><br/>
  <button ng-show="!tipAdded" class="btn btn-sm btn-primary" ng-click="addTip()">Add Tip</button><br/>
  <button ng-show="tipAdded" class="btn btn-sm btn-primary" ng-click="toggleTipVisibility()">{{getTipToggleText()}}</button>
  <div ng-if="tipAdded">
  <div ng-if="!tipIsMinimized">
      Title: <input type="text" name="tipTitleInput" ng-model="constructingStep.stepTip.title" size="50" /><br/>
      Text: <textarea name="tipTextInput" ng-model="constructingStep.stepTip.text" rows="4" cols="50" ></textarea><br/>
      PictureURL: <input type="url" ng-model="constructingStep.stepTip.pictureURL" size="70" name="tipPictureInput" /><br/>
      VideoTitle: <input type="text" ng-model="constructingStep.stepTip.videoTitle" size="50" name="tipVideoTitleInput" /><br/>
      VideoInfo: <input type="text" ng-model="constructingStep.stepTip.videoInfo.videoId" size="50" name="tipVideoIdInput" placeholder="ID" />
      <input type="text" ng-model="constructingStep.stepTip.videoInfo.end" size="50" name="tipVideoEndInput" placeholder="End Time" /><br/>
    </div>
    <button class="btn btn-danger btn-xs" ng-click="removeTip()">Remove Tip</button>
  </div>
  Show Example Step Text: <input type="checkbox" ng-model="showExampleText" /><br/>
  <div ng-show="showExampleText">
    Example Text:<br/>
    <pre>Bake [ingredient1] and [ingredient2] for [bakingTime]. [auxiliaryStep1] and [auxiliaryStep2]</pre>
  </div>
</div>