<div>
  <h2>Input Seasoning Profile</h2><br />
  <a class="btn btn-link active" ng-href="#/seasoningprofiles">Create</a>
  <a class="btn btn-link" ng-href="#/editSeasoningProfiles">Edit</a><br/>
  <form novalidate name="seasoningForm">
    Name: <input type="text" ng-model="seasoningProfile.name" size="50" required name="nameInput"/><br /><br />
    Spices: <input type="text" ng-model="seasoningProfile.spices" size="70" required name="spiceInput"><br />
    <p>Comma separated values (e.g. spice1,spice2,spice3) </p><br />
    <input type="button" class="btn btn-md" ng-click="reset()" value="Reset" />
    <input type="button" class="btn btn-md btn-success" ng-click="save()" value="Save" ng-disabled="seasoningForm.$invalid"/>
  </form>
  <br />
  <h2>Current Seasoning Profiles</h2>
  <ul>
    <li ng-repeat="profile in profiles">
      <p><b>Name</b>: {{profile.name}}</p>
      <p><b>Spices</b>: {{profile.spices}}</p>
    </li>
  </ul>
</div>
