<div>
  <h2>Input Training Videos</h2>
  <a class="btn btn-link" ng-href="#/trainingVideos">Create</a>
  <a class="btn btn-link active" ng-href="#/editTrainingVideos">Edit</a><br/>
  <form novalidate name="trainingVideoForm">
    Title: <input type="text" ng-model="trainingVideo.title" size="50" required name="titleInput"/><br /><br />
    Video: <input type="url" ng-model="trainingVideo.video.url" size="60" name="videoURLInput" placeholder="URL" />
    <input type="text" ng-model="trainingVideo.video.caption" size="100" name="videoCaptionInput" placeholder="Caption"/><br/><br/> 
    Picture: <input type="url" ng-model="trainingVideo.picture.url" size="60" name="pictureURLInput" placeholder="URL" />
    <input type="text" ng-model="trainingVideo.picture.caption" size="100" name="pictureCaptionInput" placeholder="Caption"/><br/><br/>
    Collections: <select name="itemCollectionSelect" ng-model="curCollectionId" ng-options="collection._id as collection.name for collection in trainingVideoCollections"></select><br/>
    <ul>
      <div ng-repeat="collectionID in trainingVideo.collectionIds">
        <li>{{collectionID}}</li>
        <button ng-click="removeCollection($index)">Remove</button>
      </div>
    </ul>
    <button ng-click="addCollection()">Add Collection</button><br/><br/>
    <button class="btn btn-large btn-default" ng-click="reset()">Reset Form</button>
    <button class="btn btn-large btn-success" ng-click="save()" ng-disabled="trainingVideoForm.$invalid || !trainingVideoSanityCheck()">Save Entry</button>
  </form>
  <pre>
    {{trainingVideo | json}}
  </pre>
</div>
